/* Rubik */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

/* Raleway */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

/* Общие стили */
body {
  margin: 0 auto;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  color: #444444;
  background-color: #ffffff;
}

/*sticky-footer*/
.main-body {
  flex-grow: 1;
  margin: -36px auto;
}

.page-header {
  position: relative;
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 60px;
  margin-top: 35px;
  padding-top: 5px;
  box-sizing: border-box;
  color: #000000;
  background-color: #ffe17f;
}

/* Прячем булеты у списков */
.list-reset {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Скрыть спрятанные элементы */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button-all {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 800;
  letter-spacing: 3.2px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  border: none;
  cursor: pointer;
}

.button-all:disabled {
  opacity: 0.2;
  cursor: default;
}

.navigation-link {
  text-align: center;
  color: #000000;
  text-decoration: none;
  }

.product-link-img {
  margin-bottom: 26px;
}

/* Шапка */

.logo-device {
  display: block;
  margin-top: -24px;
  margin-bottom: 27px;
  width: 145px;
  line-height: 18px;
  text-align: start;
}

.header-title-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  background-color: #ffe17f;
  color: #000000;
  text-decoration: none;
  letter-spacing: 3.2px;
  line-height: 21px;
  text-transform: uppercase;
  transition: 0.2s;
}

.navigation-link-active {
  border-bottom: 2px solid #000000;
}

.header-title-link:hover {
  opacity: 0.6;
  transition: 0.2s;
}

.header-title-link:active {
  opacity: 0.3;
  transition: 0.2s;
}

.header-title-link:focus {
  outline: 2px solid #af4fff;
  transition: 0.1s;
}

.search-header-button {
  margin: 0 0 0 -10px;
  width: 160px;
  height: 40px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  border-radius: 0 50px 50px 0;
  border: 2px solid #000000;
  background-color: #ffe17f;
  cursor: pointer;
}

.search-header-button:hover {
  color: #f0f0f0;
  background-color: #000000;
  transition: 0.4s;
}

.search-header-button:not(:hover) {
  transition: 0.4s;
}

.search-header-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
}

.search-header-button:focus {
  outline: 2px solid #af4fff;
  transition: 0.1s;
}

.search-header {
  padding-left: 48px;
  width: 362px;
  height: 40px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  background: url("../images/icon/search.svg") 16px center no-repeat;
  border-radius: 20px 0 0 20px;
  border: 2px solid #000000;
}

.search-header:focus {
  outline: 2px solid #af4fff;
  transition: 0.1s;
}

.navigation-item {
  display: flex;
  align-items: center;
}

.login-link {
  padding-left: 27px;
  background: url("../images/icon/user-black.svg") left center no-repeat;
}

.navigation-link:hover {
  opacity: 0.6;
}

.navigation-link:active {
  opacity: 0.3;
}

.navigation-link:focus {
  outline: 2px solid #af4fff;
  transition: 0.1s;
}

.cart-link:hover {
  opacity: 0.6;
}

.cart-link:active {
  opacity: 0.3;
}

.cart-link:focus {
  outline: 2px solid #af4fff;
  transition: 0.1s;
}

.comparison-link {
  padding-left: 22px;
  background: url("../images/icon/compare-button.svg") left center no-repeat;
}

.cart-link {
  padding-left: 45px;
  margin-left: 16px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  background: url("../images/icon/cart-button.svg") left 17px center no-repeat;
}

.cart-navigation-sum {
  position: absolute;
  left: 18px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #ffffff;
  font-size: 14px;
}

.cart-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 50px;
  margin: 20px;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  background-color: #ffffff;
  cursor: pointer;
}

.cart-product:hover {
  opacity: 0.6;
}

.cart-product:active {
  opacity: 0.3;
}

.cart-product:focus-visible {
  outline: 2px solid #af4fff;
}

.cart-product-del:hover {
  opacity: 0.6;
}

.cart-product-del:active {
  opacity: 0.3;
}

.cart-product-del:focus-visible {
  outline: 2px solid #af4fff;
}

.cart-button:hover {
  background-color: #ffe17f;
}

.cart-button:active {
  background-color: #ffe17f;
  color: rgba(0, 0, 0, 0.3);
}

.cart-button:focus {
  outline: 2px solid #af4fff;
}

.cart-button:disabled {
  color: rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

/* Popover */

.popover {
  position: absolute;
  top: 30px;
  right: -80px;
  z-index: 2;
  box-sizing: border-box;
  width: 320px;
  color: #ffffff;
  min-height: 217px;
  display: none;
  background-color: #000000;
}

.cart-link:focus + .popover {
  display: block;
}

.popover-content {
  height: 100%;
}

.cart-product-del {
  width: 10px;
  height: 10px;
  margin: 0;
  padding: 0;
  background-color: #000000;
  border: none;
  cursor: pointer;
}

.product-del-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-product {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.cart-product-item {
  margin: 0;
  padding-left: 61px;
  font-size: 16px;
  line-height: 20px;
}

.selfie-junior {
  background: url("../images/product/selfie-stick-junior-small.jpg") no-repeat left center;
}

.selfie-pro {
  background: url("../images/product/selfie-stick-pro-small.jpg") no-repeat left center;
}

.cart-sum-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.popover::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 6px;
  top: -6px;
  right: 156px;
  background: url("../images/icon/triangle.svg") no-repeat center center;
}

/* Выпадающее меню */

.catalog-button {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 0;
  background-color: #ffe17f;
}

.catalog-button:hover .catalog-icon-container {
  opacity: 1;
  transition: 0.4s;
}

.catalog-button:focus {
  outline: 2px solid #af4fff;
}

.catalog-icon-container {
  padding-left: 17px;
  opacity: 0.3;
  transition: 0.4s;
}

.catalog-icon-minus {
  display: none;
}

.catalog-button:focus .catalog-icon-plus {
  display: none;
}

.catalog-button:focus .catalog-icon-minus {
  display: inherit;
}

.catalog-button:focus .catalog-icon-container {
  opacity: 1;
  transition: 0.4s;
}

.product-catalog {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 60px;
  font-size: 16px;
  line-height: 18px;
}

.product-navigation-wrap {
  position: absolute;
  z-index: 1;
  width: 1160px;
  height: 148px;
  display: none;
  gap: 4px;
  background-color: #ffe17f;
  top: 178px;
  left: 0;
}

.catalog-button:focus  + .product-navigation-wrap  {
  display: flex;
}

/* Слайдер товаров */
.number-wrap {
  position: absolute;
  width: 100%;
  padding-top: 119px;
  text-align: end;
  background-color: #ffe17f;
}

.number-card {
  display: block;
  padding-right: 50px;
  transform: translateY(-35px);
  font-size: 180px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
}

.card-slider-title {
  margin: 86px 0 29px 0;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
  letter-spacing: -0.3px;
}

.card-value-item {
  padding: 0 40px 12px 0;
  font-size: 36px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.card-specification-item {
  padding: 0 17px 0 0;
  font-size: 16px;
}

.slider-prev {
  width: 20px;
  height: 60px;
  border: 0;
  background-image: url("../images/icon/arrow-left.svg");
  background-repeat: no-repeat;
  background-color: #ffffff;
  cursor: pointer;
}

.slider-next {
  width: 20px;
  height: 60px;
  border: 0;
  background-image: url("../images/icon/arrow-right.svg");
  background-repeat: no-repeat;
  background-color: #ffffff;
  cursor: pointer;
}

/* Популярные товары */
.product-link-img {
  width: 160px;
  height: 160px;
  background-color: #ffe17f;
}

.product-link {
  width: 160px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: -0.6px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

/* Сервис */
.service {
  margin-bottom: 70px;
  padding-bottom: 72px;
  background: linear-gradient(to bottom, transparent 26%, #f0f0f0 24%);
}

.service-delivery {
  background: url("../images/content/service-delivery.png") right center no-repeat;
}

.service-guarantee {
  /* padding: 11px 0; */
  background: url("../images/content/service-guarantee.png") right center no-repeat;
}

.service-credit {
  background: url("../images/content/service-credit.png") right center no-repeat;
}

.service-title,
.about-us-title,
.newsletter-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

/* Кнопка доставки */
.delivery-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  margin: 0 auto;
  padding: 0;
  max-width: 1160px;
  min-width: 795px;
  height: 100px;
  font-size: 20px;
  letter-spacing: 4px;
  background-color: #f0f0f0;
}

.delivery-button:focus {
  outline: 2px solid #af4fff;
}

.delivery-car-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 100px;
  background: #ffe17f;
}

.info-img-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 42px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #dcdcdc80;
}

.info-delivery {
  opacity: 0.3;
}

.delivery-button:hover .delivery-car-img {
  background: #ffc700;
  transition: 0.4s;
}
.delivery-button:hover .info-delivery {
  opacity: 1;
  transition: 0.4s
}

.delivery-button:active {
  opacity: 0.3;
}

/* О нас */
.delivery-list {
  padding-left: 20px;
  margin: 0;
}

.delivery-partner {
  padding-left: 18px;
  margin-bottom: 13px;
  color: #ffc700;
}

.delivery-partner-text {
  margin: 0;
  line-height: 20px;
  letter-spacing: -0.36px;
  color: #000000;
  background-color: #ffffff;
}

.contacts-subtitle {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  font-style: normal;
  margin-bottom: 14px;
}

.contacts-address-text {
  margin: 0;
  font-style: normal;
}

.contacts-timing {
  padding-left: 0;
  letter-spacing: 0.3px;
}

/* Подпишись на рассылку */

.newsletter-email {
  padding: 0 0 0 16px;
  width: 541px;
  height: 52px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  border-bottom: 3px solid #C4C4C4;
  background-color: #f0f0f0;
  outline: none;
  border: none;
}
.newsletter-button {
  margin: 0 0 0 -5px;
  padding-left: 14px;
  width: 253px;
  height: 57px;
  border: 3px solid #C4C4C4;
  background-color: #f0f0f0;

}

.newsletter-button:hover {
  background-color: #000000;
  color: #f0f0f0;
  transition: 0.4s;
}

.newsletter-button:not(:hover) {
  transition: 0.4s;
}

.newsletter-button:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}

.newsletter-button:focus {
  outline: 2px solid #af4fff;
}

.contacts-address-tel {
  color: #444444;
  background-color: #ffffff;
  font-style: normal;
}

.contacts-address-tel:hover {
  opacity: 0.6;
  transition: 0.4s;
}

.contacts-address-tel:focus {
  outline: 2px solid #af4fff;
}

.newsletter,
.newsletter-title {
  background-color: #f0f0f0;
}

.newsletter-note {
  padding-left: 32px;
  background: url("../images/icon/ok-icon-green.svg")  left center no-repeat;
}

/* Футер */
.page-footer {
  padding: 0 140px;
  margin: 0 auto;
  background-color: #444444;
  color: #ffffff;
  box-sizing: border-box;
}

.contacts-address-footer {
  grid-column: 1 / 2;
  width: 239px;
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  margin-top: 26px;
}

.footer-nav-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #444444;
  text-decoration: none;
  transition: 0.3s;
}

.footer-nav-link:hover {
  color: #ffc700;
  border-bottom: 2px solid #ffc700;
  transition: 0.1s;
}

.footer-nav-link:active {
  color: #ffc700;
  border-bottom: 2px solid #ffc700;
  transition: 0.1s;
  opacity: 0.3;
}

.footer-nav-link:focus {
  outline: 2px solid #af4fff;
  transition: 0.1s;
}

.tel-link {
  grid-column: 3 / 4;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin-top: 3px;
  transition: 0.4s;
}

.tel-link:hover {
  color: #ffc700;
  transition: 0.4s;
}

.tel-link:active {
  color: #ffc700;
  transition: 0.4s;
  opacity: 0.3;
}

.tel-link:focus {
  outline: 2px solid #af4fff;
  transition: 0.1s;
}

.footer-social-list {
  grid-column: 2 / 3;
  display: inline-flex;
  justify-content: center;;
  gap: 15px;
}

.footer-social-link {
  display: block;
  width: 40px;
  height: 40px;
  transition: 0.4s;
}

.footer-social-link:hover .footer-social-img {
  fill: #ffc700;
  fill-opacity: 1;
  transition: 0.4s;
}

.footer-social-link:active .footer-social-img {
  fill: #ffc700;
  fill-opacity: 0.3;
  transition: 0.4s;
}

.footer-social-link:focus {
  outline: 2px solid #af4fff;
  transition: 0.1s;
}

.logout-link {
  opacity: 0.3;
}

/* Страница каталога */
.catalog-title {
  margin: 36px 0 10px 61px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: #000000;
  letter-spacing: -0.4px;
  background-color: #ffffff;
}

.breadcrumbs-list {
  list-style: none;
  margin: 0;
  padding-left: 47px;
}

.navigation-item,
.shop-info-item,
.breadcrumbs-item,
.catalog-pagination-item,
.footer-nav-item {
  display: inline;
}

.shop-info-item {
  z-index: 1;
}

.breadcrumbs-link {
  padding: 0 20px 0 12px;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: #ffffff;
}

.breadcrumbs-arrow {
  background: url("../images/icon/breadcrumbs.svg") right center no-repeat;
}

.filter {
  width: 320px;
  background-color: #f0f0f0;
}

.filter-title {
  margin: 25px 0;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 19px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color: #000000;
}

.range {
  margin-top: 9px;
  margin-bottom: 2px;;

}

.filter-items-title {
  padding-top: 12px;
  margin-bottom: 17px;
  width: 196px;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  border-top: 3px solid #000000;
}

.filter-items-list {
  margin-top: 3px;
}

/* Control */
.color-item {
  position: relative;
  display: block;
  padding-left: 36px;
}

/* Mark */
.color-text-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #cccccc;
  border-radius: 3px;
}

.color-item:hover .color-text-mark {
  opacity: 0.6;
}

.control-input:disabled + .color-text-mark {
  border-color: #242424;
}

.filter-item:not(:nth-last-child(1)) {
  margin-bottom: 17px;
}

/* Добавление галочки выбора */

.control-input[type="checkbox"]:checked + .color-text-mark::before,
.control-input[type="checkbox"]:checked + .color-text-mark::after {
  position: absolute;
  top: -2px;
  left: -2px;
  width: 20px;
  height: 20px;
  background: url("../images/icon/ok-icon-black.svg") no-repeat center center;
  content: "";
}

.control-input[type="checkbox"]:checked + .color-text-mark {
  border-color: #000000;
}

/* Radio */
.control-input[type="radio"] + .color-text-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .color-text-mark::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 7px;
  height: 7px;
  background-color: #242424;
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .color-text-mark {
  border-color: #000000;
}

.price-text {
  font-size: 14px;
  line-height: 20px;
  opacity: 0.3;
}

/* Range price */
.range-scale {
  position: relative;
  height: 2px;
  margin-bottom: 11px;
  background-color: #dcdcdc;
}

.range-bar {
  position: absolute;
  height: 2px;
  left: 8px;
  width: 104px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #ebebeb;
  border: 2px solid #242424;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:hover {
 border-color: rgba(0, 0, 0, 0.5);
}

.range-toggle:active {
  background-color: #000000;
  opacity: 1;
}


.range-toggle:focus {
  outline: 2px solid #af4fff;
}

.toggle-min {
  top: -8px;
  left: -17px;
}

.toggle-max {
  top: -8px;
  right: -16px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: flex-start;
  margin-left: -12px;
}

/* Group */

.catalog-filter-group {
  margin: 0;
  margin-bottom: 2px;
  padding: 0;
  border: none;
  width: 200px;
}


.catalog-filter-label {
  display: flex;
  font-size: 14px;
  line-height: 20px;
  opacity: 0.3;
}

.catalog-filter-label:not(:nth-last-child(1)) {
  margin-right: 48px;
}


.range-input {
  width: 36px;
  padding: 0 2px;
  font: inherit;
  text-align: start;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.color-list-item {
  list-style: none;
}

.color-wrap {
  display: flex;
  flex-direction: column;
  border: none;
}

.color-item,
.blutooth-item {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.sort-container {
  margin: 0 40px;
  background-color: #f0f0f0;
}

.choose-send {
  width: 220px;
  background: linear-gradient(to bottom, rgba(255,225,127,0) 32%,rgba(255,225,127,0.94) 33%,rgba(255,225,127,1) 66%,rgba(255,225,127,0) 67%);
  transition: 0.1s;
}

.choose-send:hover {
  background: #ffe17f;
  transition: 0.4s;
}

.choose-send:focus {
  outline: 2px solid #af4fff;
  transition: 0.1s;
}

.choose-send:active {
  background: #ffcc33;
  transition: 0.1s;
}

.popular-choose {
  padding-right: 8px;
  margin-right: 15px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
}

.popular-choose:hover{
  opacity: 0.6;
}

.popular-choose:active{
  opacity: 0.3;
}

.popular-choose:focus{
  outline: 2px solid #af4fff;
}

.sort-button {
  width: 29px;
  height: 29px;
  margin-left: 1px;
  margin-right: 1px;
  border: none;
  transition: 0.1s;
}

.sort-button-img {
  cursor: pointer;
  opacity: 0.2;
}

.sort-button:hover .sort-button-img {
  opacity: 0.5;
  transition: 0.4s;
}

.sort-button:active .sort-button-img {
  opacity: 1;
  transition: 0.2s;
}

.sort-button:focus{
  outline: 2px solid rgba(175, 79, 255, 1);
}

.filter-button {
  margin-top: 15px;
}

.sort-next {
  transform: rotate(180deg);
  cursor: pointer;
  opacity: 0.2;
}

.catalog-img {
  margin-bottom: 23px;
}

.catalog-card {
  transition: 0.3s;
}

.catalog-item {
  position: relative;
}

.card-more-info {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  align-items: center;
  justify-content: center;
  width: 360px;
  height: 380px;
  background-color: rgba(240, 240, 240, 0.8);
}

.new-product::after {
  content: "";
  position: absolute;
  top: 27px;
  right: 27px;
  width: 60px;
  height: 60px;
  background: url("../images/icon/new-product.svg") no-repeat;
}

.catalog-item:hover  .card-more-info {
  display: flex;
}

.catalog-card-link:hover .catalog-product-wrap {
  opacity: 0.6;
  transition: 0.3s;
}

.catalog-card-link:hover .new-product::after {
  opacity: 0.6;
  transition: 0.1s;
}

.catalog-card-link {
  text-decoration: none;
}

.catalog-item:focus-within {
  outline: 2px solid #af4fff;
  transition: 0.1s;
}

.catalog-product-name {
  margin: 0;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  color: #000000;
}

.catalog-product-price {
  margin: 0;
  color: #000000;
  line-height: 21px;
  letter-spacing: 0.3px;
}

.upload-button {
  padding: 14px 39px;
  font-size: 16px;
  background: none;
  border: 3px solid #E5E5E5;
}

.upload-button:hover {
  border: 3px solid #000000;
}

.upload-button:active {
  border: 3px solid #000000;
  opacity: 0.3;
}

.upload-button:focus {
  outline: 2px solid #af4fff;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ebebeb;
}

.pagination-link {
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.4s;
}

.pagination-link:hover {
  background-color: #dcdcdc;
  transition: 0.4s;

}

.pagination-link:active {
  background-color: #dcdcdc;
  opacity: 0.3;
  transition: 0.4s;
}

.pagination-link:focus {
  outline: 2px solid #af4fff;
  opacity: 1;
  transition: 0.1s;
}

.catalog-pagination-button {
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: #ebebeb;
  border: transparent;
  cursor: pointer;
  opacity: 0.3;
}

.catalog-pagination {
  display: flex;
  justify-content: center;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  color: #444444;
}

.catalog-pagination-button:hover {
  opacity: 1;
  transition: 0.4s;
}

.catalog-pagination-button:active{
  opacity: 0.1;
  transition: 0.2s;
}

.catalog-pagination-button:focus {
  border: 2px solid #af4fff;
  outline: none;
  transition: 0.1s;
  opacity: 1;
}

.catalog-pagination-current {
  opacity: 0.6;
}

.pagination-prev {
  color: #444444;
  padding: 25px;
  opacity: 1;
}
.pagination-current-button {
  padding: 25px;
  color: #444444;
  opacity: 0.3;
}


.pagination-next {
  padding: 25px 20px;
  margin-left: 7px;
  color: #000000;
}


/* Разобрать */

.login-list {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.login-navigation-link {
  width: 517px;
}

.cart-navigation {
  display: flex;
}

.cart-item {
  position: relative;
  display: flex;
}

.shop-info-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 16px;
}

.shop-info-nav {
  display: flex;
  gap: 44px;
}

.card-specification-wrap {
  position: inherit;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  margin-bottom: 35px;
}

.slider-button-wrap {
  position: absolute;
  top: 210px;
  left: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 530px;
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:active {
  opacity: 0.3;
}

.slider-button:focus {
  outline: 2px solid #af4fff;
}

.slider-pagination-list {
  position: absolute;
  bottom: 0;
  display: flex;
  gap: 20px;
}

.slider-pagination-item {
  display: flex;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.products-navigation {
  padding: 0 140px;
  max-width: 1160px;
  margin: 0 auto;
  margin-bottom: 86px;
}

.product-list {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.service-cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 34px;
  width: 694px;
  padding-top: 3px;
}


.delivery-order {
  display: flex;
  margin-bottom: 118px;
}

.about-us {
  display: flex;
  justify-content: space-between;
  gap: 150px;
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 140px;
  margin-bottom: 70px;
}

.about-us-button {
  width: 270px;
  margin-left: 3px;
  letter-spacing: 3.7px;
  background: linear-gradient(to bottom, rgba(255,225,127,0) 32%,rgba(255,225,127,0.94) 33%,rgba(255,225,127,1) 66%,rgba(255,225,127,0) 67%);
}

.about-us-button:hover {
  background: #ffe17f;
  transition: 0.4s
}

.about-us-button:focus {
  outline: 2px solid #af4fff;
  transition: 0.1s;
}

.about-us-button:active {
  background: #ffcc33;
}

.contacts-button {
  width: 259px;
  margin: 10px 0;
  background: linear-gradient(to bottom, rgba(255,225,127,0) 32%,rgba(255,225,127,0.94) 33%,rgba(255,225,127,1) 66%,rgba(255,225,127,0) 67%);
}

.contacts-button:hover {
  background: #ffe17f;
  transition: 0.4s
}

.contacts-button:focus {
  outline: 2px solid #af4fff;
  transition: 0.1s;
}

.contacts-button:active {
  background: #ffcc33;
}

.newsletter-title {
  width: 348px;
  margin: 64px 5px;
}

.newsletter-text{
  margin: 26px;
  padding-top: 12px;
}

.newsletter-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 90px;
}

.newsletter-form {
  max-width: 810px;
}

.about-us-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 28px;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.slider-pagination-button {
  padding: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #000000;
  cursor: pointer;
}

.slider-pagination-button:hover {
  opacity: 0.6;
}

.slider-pagination-button:active {
  opacity: 0.3;
}

.slider-pagination-button:focus {
  outline: 2px solid #af4fff;
}

.slider-product {
  position: relative;
  max-width: 1160px;
  margin: 0 auto;
  margin-bottom: 71px;
}

.about-us-title {
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  letter-spacing: -0.5px;
}

.about-us-title::before {
  content: "";
  position: absolute;
  bottom: 91px;
  width: 84px;
  height: 7px;
  background-color: #000000;
}


.slider-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-card {
  margin-right: 40px;
  position: inherit;
}

.card-slider-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0 56px 3px;
  width: 220px;
  background: linear-gradient(to bottom, rgba(255,225,127,0) 32%,rgba(255,225,127,0.94) 33%,rgba(255,225,127,1) 66%,rgba(255,225,127,0) 67%);
  letter-spacing: 3.6px;
  transition: 0.4s;
}

.card-slider-button:hover {
  background: #ffe17f;
  transition: 0.4s;
}

.card-slider-button:focus {
  outline: 2px solid #af4fff;
  transition: 0.1s;
}

.card-slider-button:active {
  background: #ffcc33;
}

.slider-pagination-active {
  background-color: #000000;
}

.logout-item {
  padding-left: 28px;
}

.breadcrumbs-wrap {
  max-width: 1160px;
  margin: 0 auto;
  margin-bottom: 31px;
}

.products {
  display: flex;
  background-color: #f0f0f0;
}

.catalog-wrap {
  display: flex;
  flex-direction: column;
  width: 840px;
}

.sort-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog-list {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 360px 360px;
  row-gap: 44px;
  margin: 0;
  padding: 0;
}

.catalog {
  padding: 70px 40px 78px;
  background-color: #ffffff;
}

.footer-wrap {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2.7fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 11px;
  align-items: center;
}

.footer-wrap::after {
  content: "";
  position: absolute;
  bottom: 38px;
  left: 2px;
  width: 80px;
  height: 7px;
  background-color: #ffc700;
}

.service-list {
  display: flex;
  flex-direction: column;
  gap: 34px;
  padding: 64px 0;
  border-right: 7px solid #000000;
}
.service-buttons {
  margin-right: 116px;
}

.service-button {
  width: 160px;
  padding: 10px 3.64px;
  background: linear-gradient(to bottom, rgba(255,225,127,0) 32%,rgba(255,225,127,0.94) 33%,rgba(255,225,127,1) 66%,rgba(255,225,127,0) 67%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  transition: 0.4s;
}

.service-button:hover {
  background: #ffe17f;
  transition: 0.4s;
}

.service-button:focus {
  outline: 2px solid #af4fff;
  transition: 0.1s;
}

.service-button:active {
  background: #ffcc33;
}

.service-button-current {
  padding-left: 14px;
  background: none;
  background-color: #000000;
  color: #ffe17f;
  text-align: start;
}

.service-item-current {
  width: 280px;
  text-align: start;
  background: none;
  background-color: #000000;
  color: #ffe17f;
}

.service-button-current:hover {
  padding-left: 28px;
  background: #000000;
  transition: 0.5s;
}

.service-button-current:focus  {
  outline: 2px solid #af4fff;
  transition: 0.1s;
  width: 280px;
}

.service-button-current:active {
  padding-left: 28px;
}

.navigation-list-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 28px;
}

.header-search-form {
  display: flex;
  flex-wrap: nowrap;
  margin-right: 27px;
}

.container {
  display: flex;
  align-items: center;
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 140px;
}

.container-newsletter {
  max-width: 1160px;
  margin: 0 auto;
}

.newsletter-text-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 81px;
}

.product-catalog-wrap {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.products-wrap {
  display: flex;
  margin: 0 auto;
}

.filter-form {
  display: flex;
  flex-direction: column;
  gap: 31px;
  padding-left: 60px;
}

.price-text-wrap {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.price-wrap {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}

.color-list {
  padding: 0;
}

.footer-container {
  max-width: 1160px;
  margin: 0 auto;
  padding-top: 62px;
  padding-bottom: 61px;
}

.footer-nav {
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 29px;
}

.logo-academy {
  grid-column: 3 / 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}

.logo-academy-link {
  transition: 0.4s;
  margin-top: 6px;
}

.logo-academy-link:hover .logo-academy-img {
  fill: #f0f0f0;
  fill-opacity: 1;
  transition: 0.4s;
}

.logo-academy-link:active .logo-academy-img {
  fill: #f0f0f0;
  fill-opacity: 0.3;
  transition: 0.4s;
}

.logo-academy-link:focus {
  outline: 2px solid #af4fff;
  transition: 0.1s;
}

.contact-tel-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}

.about-us-text {
  margin: 0;
  padding: 0;
}

.service-text {
  width: 453px;
  margin: 0;
}

.service-title {
  margin: 0;
}

.card {
  position: relative;
  display: flex;
}

.service-guarantee {
  width: 729px;
}

.service-guarantee-text {
  width: 479px;
}

.service-credit {
  width: 729px;
}

.service-credit-text {
  width: 475px;
}

.card-specification-text {
  margin: 0;
}

.main-body-catalog {
  flex-grow: 1;
}

.sort-button-wrap {
  display: flex;
}

.catalog-product-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.logo-device-img:hover {
  opacity: 0.6;
  transition: 0.4s
}

.footer-logo-device:focus {
  outline: 2px solid #af4fff;
}

.logo-device:focus {
  outline: 2px solid #af4fff;
}

.logo-device-img:active {
  opacity: 0.3;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
  transition: 0.4s
}

.breadcrumbs-link:focus {
  outline: 2px solid #af4fff;
  transition: 0.1s;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.product-item {
  display: flex;
}

.product-link-img {
  transition: 0.4s;
}

.product-link:hover .product-link-img {
  background-color: #ffc700;
  transition: 0.4s;
}

.product-link:active {
  opacity: 0.3;
  transition: 0.4s;
}

.product-link:focus {
  outline: 2px solid #af4fff;
}

/* Модальное окно */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.90);
}

.modal {
  position: relative;
  margin: auto;
  padding: 72px 80px;
  color: rgba(0, 0, 0, 1);
  background-color: #ffffff;
  border: 10px solid #000000;
  box-shadow: 0 10px 0 0 rgba(0, 0, 0, 0.10);
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
}

.modal-title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.modal-title {
  margin: 0;
  font-family: "Raleway";
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
}

.modal-close-button {
  width: 26px;
  height: 26px;
  background-image: url("../images//icon/modal-button-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
}

.modal-close-button:hover {
  opacity: 0.6;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-close-button:focus {
  outline: 2px solid #af4fff;
  transition: 0.1s;
}

.modal-item-wrap {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.modal-form-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
}

.modal-auth-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.modal-button {
  width: 60px;
  height: 60px;
  background-color: #f0f0f0;
  border: none;
}

.modal-button-del {
  background: url("../images/icon/minus.svg") no-repeat center center;
  background-color: #f0f0f0;
  cursor: pointer;
}

.modal-button-add {
  background: url("../images/icon/plus.svg") no-repeat center center;
  background-color: #f0f0f0;
  cursor: pointer;
}

.modal-product-amount-field {
  width: 60px;
  height: 60px;
  text-align: center;
  background-color: #f0f0f0;
  border: none;
  box-sizing: border-box;
}

.modal-product-amount-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}

.product-amount-wrap {
  display: flex;
}

.modal-product-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.modal-button-send {
  margin-right: auto;
}

.modal-form-field {
  padding: 20px;
  width: 360px;
  height: 60px;
  box-sizing: border-box;
  border: none;
}

.modal-auth-form-field {
  background-color: #f0f0f0;
  background: url("../images/icon/user-grey.svg") no-repeat right 20px center;
}

.input-field:focus {
  outline: 2px solid #af4fff;
  transition: 0.1s;
}

.modal-email-form-field {
  background-color: #f0f0f0;
  margin-bottom: 20px;
  background: url("../images/icon/mail.svg") no-repeat right 20px center;
}

.modal-product-form-field {
  padding: 20px;
  width: 540px;
  height: 60px;
  box-sizing: border-box;
  background-color: #f0f0f0;
  border: none;
}

.modal-product-amount-field::-webkit-outer-spin-button,
.modal-product-amount-field::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.modal-email-form-field:invalid {
  outline: 2px solid #ff3d3d;
}

.modal-email-form {
  position: relative;
}

.modal-email-invalid-text {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  color: #ff3d3d;
  font-family: Rubik;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.modal-email-form-field:invalid + .modal-email-invalid-text {
  display: block;
}

.modal-container-close {
  display: none;
}


/* Модалка конец  */

/* Тултип начало */

.tooltip-toggle {
  display: block;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
}

.tooltip {
  position: absolute;
  margin-left: 8px;
  margin-top: -3px;
  width: 26px;
  height: 26px;
}

.tooltip-icon {
  display: block;
  width: 100%;
  height: 100%;
  color: #242424;
}

.tooltip-text {
  position: absolute;
  display: none;
  box-sizing: border-box;
  margin-left: -136px;
  margin-top: 6px;
  padding: 19px 17px;
  width: 200px;
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  top: -6px;
  right: 44px;
  width: 14px;
  height: 6px;
  background: url("../images/icon/triangle.svg") no-repeat center center;
}




/* Тултип конец */


.input-field:disabled,
.form-button:disabled {
  opacity: 0.2;
  cursor: default;
}

.input-field:placeholder-shown {
  opacity: 1;
  color: #000000;
}
