/* Rubik */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/rubik/rubik-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/rubik/rubik-700.woff2) format("woff2");
  font-display: swap;
}

/* Raleway */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/rubik/rubik-700.woff2) format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

/* Общие стили */
body {
  margin: 0 auto;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  background-color: #FFFFFF;
  color: #444444;
}

.page-header {
  color: #000000;
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 60px;
  box-sizing: border-box;
  background-color: #FFE17F;
  margin-top: 35px;
  padding-top: 5px;
  position: relative;
}

/* Прячем булеты у списков */
.list-reset {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Скрыть спрятанные элементы */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button-all {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 800;
  letter-spacing: 3.2px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  border: none;
  cursor: pointer;
}

.navigation-link {
  text-align: center;
  color: #000000;
  text-decoration: none;
  }

/* Картинки занимают реальный размер, а не все пространство */
.product-link-img {
  margin-bottom: 26px;
}

/* Шапка */

.logo-device {
  display: block;
  text-align: start;
  margin-top: -24px;
  margin-bottom: 27px;
  width: 145px;
  line-height: 18px;
}

.header-title-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  background-color: #FFE17F;
  color: #000000;
  text-decoration: none;
  letter-spacing: 3.2px;
  line-height: 21px;
  text-transform: uppercase;
  transition: 0.2s;
}

.navigation-link-active {
  border-bottom: 2px solid #000;
}

.header-title-link:hover {
  opacity: 0.6;
  transition: 0.2s;
}

.header-title-link:active {
  opacity: 0.3;
  transition: 0.2s;
}

.header-title-link:focus {
  outline: 2px solid #AF4FFF;
  transition: 0.1s;
}

.search-header-button {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  width: 160px;
  height: 40px;
  border-radius: 0 50px 50px 0;
  border: 2px solid #000;
  margin: 0 0 0 -10px;
  background-color: #FFE17F;
  cursor: pointer;

}

.search-header-button:hover {
  background-color: #000000;
  color: #F0F0F0;
  transition: 0.4s;
}

.search-header-button:not(:hover) {
  transition: 0.4s;
}

.search-header-button:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}

.search-header-button:focus {
  outline: 2px solid #AF4FFF;
}

.search-header {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  width: 362px;
  height: 40px;
  background: url(../images/icon/search.svg) 16px center no-repeat;
  padding-left: 48px;
  border-radius: 20px 0 0 20px;
  border: 2px solid #000;
}

.search-header:focus {
  outline: 2px solid #AF4FFF;
}

.navigation-item {
  display: flex;
  align-items: center;
}

.login-link {
  background: url(../images/icon/user-black.svg) left center no-repeat;
  padding-left: 27px;
}

.navigation-link:hover {
  opacity: 0.6;
}

.navigation-link:active {
  opacity: 0.3;
}

.navigation-link:focus {
  outline: 2px solid #AF4FFF;
}

.cart-item:hover {
  opacity: 0.6;
}

.cart-item:active {
  opacity: 0.3;
}

.cart-link:focus {
  outline: 2px solid #AF4FFF;
}

.comparison-link {
  padding-left: 22px;
  background: url(../images/icon/compare-button.svg) left center no-repeat;
}

.cart-link {
  padding-left: 45px;
  background: url(../images/icon/cart-button.svg) left 17px center no-repeat;
  margin-left: 16px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.cart-navigation-sum {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #fff;
  font-size: 14px;
  position: absolute;
  left: 18px;
}

/* Выпадающее меню */
.catalog-button {
  text-align: start;
  padding: 0;
  background-color: #FFE17F;
  z-index: 1;
  display: flex;
  align-items: center;
}

.catalog-button:hover .catalog-icon-container {
  opacity: 1;
  transition: 0.4s;
}

.catalog-button:focus {
  outline: 2px solid #AF4FFF;
}

.catalog-icon-container {
  padding-left: 17px;
  opacity: 0.3;
  transition: 0.4s;
}

.product-catalog {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 18px;
  gap: 30px;
  margin-left: 60px;
}

.product-navigation-wrap {
  display: flex;
  gap: 4px;
  position: absolute;
  z-index: 1;
  width: 1160px;
  height: 148px;
  background-color: #FFE17F;
  top: 180px;
  left: 0;
}

/*sticky-footer*/
.main-body {
  flex-grow: 1;
  margin: -36px auto;
}

/* Слайдер товаров */
.number-wrap {
  background-color: #FFE17F;
  width: 1160px;
  position: absolute;
  padding-top: 119px;
  text-align: end;
}

.number-card {
  font-size: 180px;
    font-weight: 700;
    font-style: normal;
    color: #fff;
    padding-right: 50px;
    transform: translateY(-35px);
    display: block;
}

.card-slider-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
  margin: 86px 0 29px 0;
  letter-spacing: -0.3px;
}

.card-value-item {
  font-size: 36px;
  font-weight: 400;
  padding: 0 40px 12px 0;
  color: #000000;
  background-color: #fff;
}

.card-specification-item {
  font-size: 16px;
  padding: 0 17px 0 0;
}

.slider-prev {
  width: 20px;
  height: 60px;
  border: 0;
  background-image: url(../images/icon/arrow-left.svg);
  background-repeat: no-repeat;
  background-color: #fff;
  cursor: pointer;
}

.slider-next {
  width: 20px;
  height: 60px;
  border: 0;
  background-image: url(../images/icon/arrow-right.svg);
  background-repeat: no-repeat;
  background-color: #fff;
  cursor: pointer;
}

/* Популярные товары */
.product-link-img {
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
}

.product-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: -0.6px;
  color: #000000;
  background-color: #fff;
  text-decoration: none;
}

/* Сервис */
.service {
  background: linear-gradient(to bottom, transparent 26%, #F0F0F0 24%);
  margin-bottom: 70px;
  padding-bottom: 70px;
}

.service-delivery {
  background: url(../images/content/service-delivery.png) right center no-repeat;
}

.service-guarantee {
  /* padding: 11px 0; */
  background: url(../images/content/service-guarantee.png) right center no-repeat;
}

.service-credit {
  background: url(../images/content/service-credit.png) right center no-repeat;
}

.service-title,
.about-us-title,
.newsletter-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

/* Кнопка доставки */
.delivery-button {
  max-width: 1160px;
  min-width: 795px;
  height: 100px;
  font-size: 20px;
  letter-spacing: 4px;
  background-color: #F0F0F0;
  margin: 0 auto;
  flex: 1;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delivery-button:focus {
  outline: 2px solid #AF4FFF;
}

.delivery-car-img {
  width: 125px;
  height: 100px;
  background: #FFE17F;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-img-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DCDCDC80;
}

.delivery-info-img {
  width: 125px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F0F0F0;
}

.info-delivery {
  opacity: 0.3;
}

.delivery-button:hover .delivery-car-img {
  background: #FFC700;
  transition: 0.4s;
}
.delivery-button:hover .info-delivery {
  opacity: 1;
  transition: 0.4s
}

.delivery-button:active {
  opacity: 0.3;
}

/* О нас */
.delivery-list {
  padding-left: 20px;
  margin: 0;
}

.delivery-partner {
  padding-left: 18px;
  color: #FFC700;
  margin-bottom: 13px;
}

.delivery-partner-text {
  line-height: 20px;
  letter-spacing: -0.36px;
  color: #000000;
  background-color: #fff;
  margin: 0;
}

.contacts-subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  font-style: normal;
  margin-bottom: 14px;
}

.contacts-address-text {
  font-style: normal;
  margin: 0;
}

.contacts-timing {
  padding-left: 0;
  letter-spacing: 0.3px;
}

/* Подпишись на рассылку */

.newsletter-email {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  outline: none;
  border: none;
  padding: 0 0 0 16px;
  border-bottom: 3px solid #C4C4C4;
  background-color: #F0F0F0;
  width: 541px;
  height: 52px;
}
.newsletter-button {
  margin: 0 0 0 -5px;
  width: 253px;
  height: 57px;
  border: 3px solid #C4C4C4;
  background-color: #F0F0F0;
  padding-left: 14px;
}

.newsletter-button:hover {
  background-color: #000000;
  color: #F0F0F0;
  transition: 0.4s;
}

.newsletter-button:not(:hover) {
  transition: 0.4s;
}

.newsletter-button:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}

.newsletter-button:focus {
  outline: 2px solid #AF4FFF;
}

.contacts-address-tel {
  color: #444444;
  background-color: #fff;
  font-style: normal;
}

.contacts-address-tel:focus {
  outline: 2px solid #AF4FFF;
}

.newsletter,
.newsletter-title {
  background-color: #F0F0F0;
}

.newsletter-note {
  background: url(../images/icon/ok-icon-green.svg)  left center no-repeat;
  padding-left: 32px;
}

/* Футер */
.page-footer {
  background-color: #444;
  color: #FFFFFF;
  box-sizing: border-box;
  padding: 0 140px;
  margin: 0 auto;
}

.contacts-address-footer {
  grid-column: 1 / 2;
  width: 239px;
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  margin-top: 26px;
}

.footer-nav-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #444;
  text-decoration: none;
  transition: 0.3s;
}

.footer-nav-link:hover {
  color: #FFC700;
  border-bottom: 2px solid #FFC700;
  transition: 0.1s;
}

.footer-nav-link:active {
  color: #FFC700;
  border-bottom: 2px solid #FFC700;
  transition: 0.1s;
  opacity: 0.3;
}

.footer-nav-link:focus {
  outline: 2px solid #AF4FFF;
  transition: 0.1s;
}

.tel-link {
  grid-column: 3 / 4;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  margin-top: 3px;
  transition: 0.4s;
}

.tel-link:hover {
  color: #FFC700;
  transition: 0.4s;
}

.tel-link:active {
  color: #FFC700;
  transition: 0.4s;
  opacity: 0.3;
}

.tel-link:focus {
  outline: 2px solid #AF4FFF;
  transition: 0.1s;
}

.footer-social-list {
  grid-column: 2 / 3;
  display: inline-flex;
  justify-content: center;;
  gap: 15px;
}

.footer-social-link {
  width: 40px;
  height: 40px;
  display: block;
  transition: 0.4s;
}

.footer-social-link:hover .footer-social-img {
  fill: #FFC700;
  fill-opacity: 1;
  transition: 0.4s;
}

.footer-social-link:active .footer-social-img {
  fill: #FFC700;
  fill-opacity: 0.3;
  transition: 0.4s;
}

.footer-social-link:focus {
  outline: 2px solid #AF4FFF;
  transition: 0.1s;
}

.logout-link {
  opacity: 0.3;
}

/* Страница каталога */
.catalog-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: #000000;
  background-color: #fff;
  margin: 36px 0 10px 61px;
  letter-spacing: -0.4px;
}

.breadcrumbs-list {
  list-style: none;
  margin: 0;
  padding-left: 47px;
}

.navigation-item,
.shop-info-item,
.breadcrumbs-item,
.catalog-pagination-item,
.footer-nav-item {
  display: inline;
}

.shop-info-item {
  z-index: 1;
}

.breadcrumbs-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: #fff;
  padding: 0 20px 0 12px;
}

.breadcrumbs-arrow {
  background: url(../images/icon/breadcrumbs.svg) right center no-repeat;
}

.filter {
  background-color: #F0F0F0;
  width: 320px;
}

.filter-title {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 19px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color: #000000;
  margin: 25px 0;
}

.filter-item {
  font-weight: 700;
  line-height: 20px;
  color: #000000;
}

.price-text {
  font-size: 14px;
  line-height: 20px;
  opacity: 0.3;
}

.color-list-item {
  list-style: none;
}

.color-item,
.blutooth-item {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.sort-container {
  background-color: #F0F0F0;
  margin: 0 40px;
}

.choose-send {
  width: 220px;
  background: linear-gradient(to bottom, rgba(255,225,127,0) 32%,rgba(255,225,127,0.94) 33%,rgba(255,225,127,1) 66%,rgba(255,225,127,0) 67%);
  transition: 0.1s;
}

.choose-send:hover {
  background: #FFE17F;
  transition: 0.4s;
}

.choose-send:focus {
  outline: 2px solid #AF4FFF;
  transition: 0.1s;
}

.choose-send:active {
  background: #FFCC33;
  transition: 0.1s;
}

.popular-choose {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  background-color: #F0F0F0;
  border: none;
  cursor: pointer;
  padding-right: 8px;
  margin-right: 15px;
}

.popular-choose:hover{
  opacity: 0.6;
}

.popular-choose:active{
  opacity: 0.3;
}

.popular-choose:focus{
  outline: 2px solid #AF4FFF;
}

.sort-button {
  transition: 0.1s;
  width: 29px;
  height: 29px;
  border: none;
  margin-left: 1px;
  margin-right: 1px;
}

.sort-button-img {
  cursor: pointer;
  opacity: 0.2;
}

.sort-button:hover .sort-button-img {
  opacity: 0.5;
  transition: 0.4s;
}

.sort-button:active .sort-button-img {
  opacity: 1;
  transition: 0.2s;
}

.sort-button:focus{
  outline: 2px solid rgba(175, 79, 255, 1);
}



.sort-next {
  cursor: pointer;
  transform: rotate(180deg);
  opacity: 0.2;
}

.catalog-img {
  margin-bottom: 23px;
}

.card-more-info {
  width: 360px;
  height: 380px;
  position: absolute;
  background-color: rgba(240, 240, 240, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
}

.catalog-card {
  transition: 0.3s;
  position: relative;
}

.new-product::after {
  content: "";
  position: absolute;
  top: 27px;
  right: 27px;
  width: 60px;
  height: 60px;
  background: url(../images/icon/new-product.svg) no-repeat;
}

.catalog-card-link:hover .card-more-info {
  display: flex;
}

.catalog-card-link:hover .catalog-product-wrap {
  opacity: 0.6;
  transition: 0.3s;
}

.catalog-card-link:hover .new-product::after {
  opacity: 0.6;
  transition: 0.1s;
}

.catalog-card-link {
  text-decoration: none;
}

.catalog-item:focus-within {
  outline: 2px solid #AF4FFF;
  transition: 0.1s;
}

.catalog-product-name {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  color: #000000;
  margin: 0;
}

.catalog-product-price {
  color: #000000;
  margin: 0;
  line-height: 21px;
  letter-spacing: 0.3px;
}

.upload-button {
  font-size: 16px;
  padding: 14px 39px;
  border: 3px solid #E5E5E5;
  background: none;
}

.upload-button:hover {
  border: 3px solid #000;
}

.upload-button:active {
  border: 3px solid #000;
  opacity: 0.3;
}

.upload-button:focus {
  outline: 2px solid #AF4FFF;
}

.pagination {
  background-color: #EBEBEB;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination-link {
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.4s;
}

.pagination-link:hover {
  background-color: #DCDCDC;
  transition: 0.4s;

}

.pagination-link:active {
  background-color: #DCDCDC;
  opacity: 0.3;
  transition: 0.4s;
}

.pagination-link:focus {
  outline: 2px solid #AF4FFF;
  opacity: 1;
  transition: 0.1s;
}

.catalog-pagination-button {
  width: 40px;
  height: 40px;
  border: transparent;
  background-color: #EBEBEB;
  padding: 0;
  cursor: pointer;
  opacity: 0.3;
}

.catalog-pagination {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  color: #444444;
  display: flex;
  justify-content: center;
}

.catalog-pagination-button:hover {
  opacity: 1;
  transition: 0.4s;
}

.catalog-pagination-button:active{
  opacity: 0.1;
  transition: 0.2s;
}

.catalog-pagination-button:focus {
  border: 2px solid #AF4FFF;
  outline: none;
  transition: 0.1s;
  opacity: 1;
}

.catalog-pagination-current {
  opacity: 0.6;
}

.pagination-prev {
  color: #444444;
  padding: 25px;
  opacity: 1;
}
.pagination-current-button {
  color: #444444;
  opacity: 0.3;
  padding: 25px;
}


.pagination-next {
  color: #000000;
  padding: 25px 20px;
  margin-left: 7px;
}


/* Разобрать */

.login-list {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login-navigation-link {
  width: 517px;
}

.cart-navigation {
  display: flex;
}

.cart-item {
  position: relative;
  display: flex;
}

.shop-info-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
}

.shop-info-nav {
  display: flex;
  gap: 44px;
}

.card-specification-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  position: inherit;
  margin-bottom: 35px;
}

.slider-button-wrap {
  width: 530px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 210px;
  left: 30px;
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:active {
  opacity: 0.3;
}

.slider-button:focus {
  outline: 2px solid #AF4FFF;
}

.slider-pagination-list {
  display: flex;
  gap: 20px;
  position: absolute;
  bottom: 0;
}

.slider-pagination-item {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: flex;
}

.products-navigation {
  padding: 0 140px;
  max-width: 1160px;
  margin: 0 auto;
  margin-bottom: 81px;
}

.product-list {
  display: flex;
  gap: 40px;
}

.service-cards {
  display: flex;
  width: 694px;
  flex-direction: column;
  align-items: flex-start;
  gap: 34px;
  padding-top: 3px;
}


.delivery-order {
  display: flex;
  margin-bottom: 118px;
}

.about-us {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  gap: 150px;
  justify-content: space-between;
  padding: 0 140px;
  margin-bottom: 70px;
}

.about-us-button {
  width: 270px;
  background: linear-gradient(to bottom, rgba(255,225,127,0) 32%,rgba(255,225,127,0.94) 33%,rgba(255,225,127,1) 66%,rgba(255,225,127,0) 67%);
  letter-spacing: 3.7px;
  margin-left: 3px;
}

.about-us-button:hover {
  background: #FFE17F;
  transition: 0.4s
}

.about-us-button:focus {
  outline: 2px solid #AF4FFF;
}

.about-us-button:active {
  background: #FFCC33;
}

.contacts-button {
  width: 259px;
  margin: 10px 0;
  background: linear-gradient(to bottom, rgba(255,225,127,0) 32%,rgba(255,225,127,0.94) 33%,rgba(255,225,127,1) 66%,rgba(255,225,127,0) 67%);
}

.contacts-button:hover {
  background: #FFE17F;
  transition: 0.4s
}

.contacts-button:focus {
  outline: 2px solid #AF4FFF;
}

.contacts-button:active {
  background: #FFCC33;
}

.newsletter-title {
  width: 348px;
  margin: 64px 5px;
}

.newsletter-text{
  margin: 26px;
  padding-top: 12px;
}

.newsletter-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 93px;
}

.newsletter-form {
  max-width: 810px;
}

.about-us-info {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: flex-start;
  justify-content: flex-start;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
}

.slider-pagination-button {
  padding: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border-color: #000000;
  cursor: pointer;
}

.slider-pagination-button:hover {
  opacity: 0.6;
}

.slider-pagination-button:active {
  opacity: 0.3;
}

.slider-pagination-button:focus {
  outline: 2px solid #AF4FFF;
}

.slider-product {
  position: relative;
  max-width: 1160px;
  margin: 0 auto;
  margin-bottom: 71px;
}

.about-us-title {
  margin: 0;
  padding: 0;
  margin-bottom: 18px;
  letter-spacing: -0.5px;
  position: relative;
}

.about-us-title::before {
  content: "";
  position: absolute;
  bottom: 93px;
  width: 84px;
  height: 7px;
  background-color: #000;
}


.slider-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-card {
  margin-right: 40px;
  position: inherit;
}

.card-slider-button {
  margin: 60px 0 56px 3px;

  width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(to bottom, rgba(255,225,127,0) 32%,rgba(255,225,127,0.94) 33%,rgba(255,225,127,1) 66%,rgba(255,225,127,0) 67%);
  letter-spacing: 3.6px;

  transition: 0.4s;
}

.card-slider-button:hover {
  background: #FFE17F;
  transition: 0.4s;
}

.card-slider-button:focus {
  outline: 2px solid #AF4FFF;
  transition: 0.1s;
}

.card-slider-button:active {
  background: #FFCC33;
}

.slider-pagination-active {
  background-color: #000000;
}

.logout-item {
  padding-left: 28px;
}

.breadcrumbs-wrap {
  max-width: 1160px;
  margin: 0 auto;
  margin-bottom: 31px;
}

.products {
  background-color: #F0F0F0;
  display: flex;
}

.catalog-wrap {
  width: 840px;
  display: flex;
  flex-direction: column;
}

.sort-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog-list {
  display: grid;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  grid-template-columns: 360px 360px;
  row-gap: 44px;
}

.catalog {
  background-color: #FFF;
  padding: 70px 40px 78px;
}

.footer-wrap {
  display: grid;
  grid-template-columns: 1fr 2.7fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 11px;
  align-items: center;
  position: relative;
}

.footer-wrap::after {
  content: "";
  position: absolute;
  bottom: 38px;
  left: 2px;
  width: 80px;
  height: 7px;
  background-color: #FFC700;
}

.service-list {
  display: flex;
  flex-direction: column;
  gap: 34px;
  border-right: 7px solid #000000;
  padding: 64px 0;
}
.service-buttons {
  margin-right: 116px;
}

.service-button {
  width: 160px;
  padding: 10px 3.64px;
  background: linear-gradient(to bottom, rgba(255,225,127,0) 32%,rgba(255,225,127,0.94) 33%,rgba(255,225,127,1) 66%,rgba(255,225,127,0) 67%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  transition: 0.4s;
}

.service-button:hover {
  background: #FFE17F;
  transition: 0.4s;
}

.service-button:focus {
  outline: 2px solid #AF4FFF;
  transition: 0.1s;
}

.service-button:active {
  background: #FFCC33;
}

.service-button-current {
  background: none;
  background-color: #000000;
  color: #FFE17F;
  text-align: start;
  padding-left: 14px;
}

.service-item-current {
  background: none;
  background-color: #000000;
  color: #FFE17F;
  width: 280px;
  text-align: start;
}

.service-button-current:hover {
  background: #000000;
  padding-left: 28px;
  transition: 0.5s;
}

.service-button-current:focus  {
  outline: 2px solid #AF4FFF;
  transition: 0.1s;
  width: 280px;
}

.service-button-current:active {
  padding-left: 28px;
}

.navigation-list-wrap {
  display: flex;
  margin-bottom: 28px;
}

.header-search-form {
  margin-right: 27px;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 140px;
  display: flex;
  align-items: center;
}

.container-newsletter {
  max-width: 1160px;
  margin: 0 auto;
}

.newsletter-text-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 81px;
  justify-content: space-between;
}

.product-catalog-wrap {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.products-wrap {
  margin: 0 auto;
  display: flex;
}

.filter-form {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding-left: 60px;
}

.price-text-wrap {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.price-wrap {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}

.color-list {
  padding: 0;
}

.footer-container {
  max-width: 1160px;
  margin: 0 auto;
  padding-top: 62px;
  padding-bottom: 61px;
}

.footer-nav {
  grid-column: 2 / 3;
  display: flex;
  gap: 29px;
  justify-content: center;
  flex-wrap: wrap;
}

.logo-academy {
  grid-column: 3 / 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}

.logo-academy-link {
  transition: 0.4s;
}

.logo-academy-link:hover .logo-academy-img {
  fill: #F0F0F0;
  fill-opacity: 1;
  transition: 0.4s;
}

.logo-academy-link:active .logo-academy-img {
  fill: #f0f0f0;
  fill-opacity: 0.3;
  transition: 0.4s;
}

.logo-academy-link:focus {
  outline: 2px solid #AF4FFF;
  transition: 0.1s;
}

.contact-tel-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}

.about-us-text {
  margin: 0;
  padding: 0;
}

.service-text {
  width: 453px;
  margin: 0;
}

.service-title {
  margin: 0;
}

.card {
  display: flex;
  position: relative;
}

.service-guarantee {
  width: 729px;
}

.service-guarantee-text {
  width: 479px;
}

.service-credit {
  width: 729px;
}

.service-credit-text {
  width: 475px;
}

.card-specification-text {
  margin: 0;
}

.main-body-catalog {
  flex-grow: 1;
}

.sort-button-wrap {
  display: flex;
}

.catalog-product-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.logo-device-img:hover {
  opacity: 0.6;
  transition: 0.4s
}

.footer-logo-device:focus {
  outline: 2px solid #AF4FFF;
}

.logo-device:focus {
  outline: 2px solid #AF4FFF;
}

.logo-device-img:active {
  opacity: 0.3;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
  transition: 0.4s
}

.breadcrumbs-link:focus {
  outline: 2px solid #AF4FFF;
  transition: 0.1s;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.product-item {
  display: flex;
}

.product-link-img {
  transition: 0.4s;
}

.product-link:hover .product-link-img {
  background-color: #FFC700;
  transition: 0.4s;
}

.product-link:active {
  opacity: 0.3;
  transition: 0.4s;
}

.product-link:focus {
  outline: 2px solid #AF4FFF;
}

/* Модальное окно */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.90);
  z-index: 1;
}

.modal {
  position: relative;
  margin: auto;
  padding: 72px 80px;
  color: rgba(0, 0, 0, 1);
  background-color: #FFFFFF;
  border: 10px solid #000;
  box-shadow: 0 10px 0 0 rgba(0, 0, 0, 0.10);
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
}

.modal-title-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title {
  font-family: "Raleway";
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
  margin: 0;
}

.modal-close-button {
  width: 26px;
  height: 26px;
  background-image: url(../images//icon/modal-button-close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FFFFFF;
  cursor: pointer;
  border: none;
}

.modal-item-wrap {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.modal-form-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
}

.modal-auth-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.modal-button {
  width: 60px;
  height: 60px;
  background-color: #F0F0F0;
  border: none;
}

.modal-button-del {
  background: url(../images/icon/minus.svg) no-repeat center center;
  cursor: pointer;
  background-color: #F0F0F0;
}

.modal-button-add {
  background: url(../images/icon/plus.svg) no-repeat center center;
  cursor: pointer;
  background-color: #F0F0F0;
}

.modal-product-amount-field {
  width: 60px;
  height: 60px;
  background-color: #F0F0F0;
  border: none;
  box-sizing: border-box;
}

.modal-product-amount-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}

.product-amount-wrap {
  display: flex;
}

.modal-product-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.modal-button-send {
  margin-right: auto;
}

.modal-form-field {
  padding: 20px;
  width: 360px;
  height: 60px;
  box-sizing: border-box;
  border: none;
}

.modal-auth-form-field {
  background: url(../images/icon/user-grey.svg) no-repeat right 20px center;
  background-color: #F0F0F0;
}

.modal-email-form-field {
  background: url(../images/icon/mail.svg) no-repeat right 20px center;
  background-color: #F0F0F0;
}

.modal-product-form-field {
  padding: 20px;
  width: 540px;
  height: 60px;
  box-sizing: border-box;
  background-color: #F0F0F0;
  border: none;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip {
  position: absolute;
  margin-left: 8px;
  margin-top: -3px;
  width: 26px;
  height: 26px;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  color: #242424;
  display: block;
}

.tooltip-text {
  position: absolute;
  margin-left: -136px;
  margin-top: 6px;
  padding: 19px 17px;
  width: 200px;
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: none;
  box-sizing: border-box;
  display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 6px;
  top: -6px;
  right: 44px;
  background: url(../images/icon/triangle.svg) no-repeat center center;
}

/* .modal-container-close {
  display: none;
} */
